---
// Giscus.astro
---

<div class="giscus-container mt-16 max-w-4xl mx-auto px-4 w-full">
    <div class="giscus"></div>
    <script
        is:inline
        src="https://giscus.app/client.js"
        data-repo="97kuek/97kuek.github.io"
        data-repo-id="R_kgDORh6lYA"
        data-category="General"
        data-category-id="DIC_kwDORh6lYM4C3_9j"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ja"
        crossorigin="anonymous"
        async
    ></script>
</div>
