---
interface Props {
  skill: string;
  href?: string;
}

const { skill, href } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      class="badge badge-md badge-outline badge-secondary hover:badge-secondary hover:text-secondary-content transition-all hover:scale-105 py-2.5"
    >
      {skill}
    </a>
  ) : (
    <span class="badge badge-sm badge-outline badge-secondary">{skill}</span>
  )
}
