---
interface Props {
  skill: string;
  href?: string;
}

const { skill, href } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      class="badge badge-sm badge-soft badge-accent hover:badge-outline transition-colors"
    >
      {skill}
    </a>
  ) : (
    <span class="badge badge-sm badge-soft badge-accent">{skill}</span>
  )
}
