---
interface Props {
  skill: string;
  href?: string;
}

const { skill, href } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      class="badge badge-sm badge-outline badge-primary hover:badge-primary hover:text-primary-content transition-colors"
    >
      {skill}
    </a>
  ) : (
    <span class="badge badge-sm badge-outline badge-primary">{skill}</span>
  )
}
